/*
	header: #333333;
	search area: #444444;
	search result header: #fafafa;
	search result body: #f4f4f4;
	font-family: 'Quicksand';
*/

body, html{
	width:100%;
	height: 100%
	min-width: 1440px;
	background-color: #eaeaea;
	font-family: 'Noto-Sans';
}

.container{
	text-align: center;
	width:100%;
	height: 100%;
	margin:0px;
	padding:64px 0px 0px 0px;
}

.header{
	position: absolute;
	left:0px;
	top:0px;
	margin:0px;
	width:100%;
	height: 64px;
	text-align: left;
	font-family: 'Quicksand';
	font-size: 30px;
	font-weight: bold;
	padding-left:14px;
	padding-top:11px;
	background-color: #79d1b8;
	color: #FFFFFF;
}
.header span{
	font-size: 20px;
	font-weight: normal;
}
.header .logo{
	position: absolute;
	width:151px;
	height: 50px;
	right: 9px;
	top:6px;
}
.header .logo_eng{
	position: absolute;
	width:95px;
	height: 34px;
	right:15px;
	top:9px;
}
.header_logo{
	display: inline-block;
	cursor: pointer;
}

.contents_box{
	position: relative;
	margin:0px;
	width:100%;
	height: 100%;
	text-align: center;
}

.content{
	position: relative;
	width:100%;
	height: 100%;
	margin:0px auto;
	text-align: center;
}

.input_content{
	position: relative;
	width:100%;
	background-color: #e3e3e3;
	border-bottom: 1px solid #d3d3d3;
	padding:20px;
}

.info_box{
	position: absolute;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	width:100%;
	left:0px;
	top:50%;
	margin-top:-220px;
	height: 185px;
	color: #353535;
}

.info_header{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 45px;
	height: 45px;
	width: 100%;
}
.info_content{
	position: relative;
	width:100%;
	padding-top:25px;
	font-weight: bold;
}

.input_container{
	position: relative;
	width:100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding-top:10px;
}
.input_box{
	position: relative;
	width:620px;
	display: inline-block;
	margin:0 auto;
}
.input_textbox{
	position: relative;
	width:388px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

#query_input{
	height: 44px;
}

.input_btn{
	position: relative;
	float: left;
	font-size: 14px;
	height: 44px;
	text-align: right;
	display: inline-block;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.input_btn a{
	border:0;
	border-radius: 0px;
	line-height: normal;
}

#search_btn{
	width:80px;
	font-size: 16px;
	line-height: 20px;
	padding:12px;
	border-right:1px solid rgba(0, 0, 0, 0.12);
}

#graph_btn{
	width:80px;
	font-size: 16px;
	line-height: 20px;
	padding:12px;
	border-right:1px solid rgba(0, 0, 0, 0.12);
}


.adv_input_container{
	position: relative;
	width:100%;
	height: 274px;
	float: left;
	text-align: center;
	display: none;
}

.adv_graph_container{
	position: relative;
	width:100%;
	height: 174px;
	float: left;
	text-align: center;
	display: none;
}

.adv_graph_box{
	position: relative;
	width:500px;
	height: 174px;
	margin:0 auto;
	padding:15px;
	background-color: #FFFFFF;
	border-radius: 4px;
	overflow: hidden;
	border:1px solid rgba(0, 0, 0, 0.12);
}

.adv_input_box{
	position: relative;
	width:500px;
	height: 274px;
	margin:0 auto;
	padding:15px;
	background-color: #FFFFFF;
	border-radius: 4px;
	overflow: hidden;
	border:1px solid rgba(0, 0, 0, 0.12);
}

.adv_input_header{
	position: relative;
	width:100%;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	color:rgba(0, 0, 0, 0.8);
}

.adv_inputs{
	position: relative;
	float: left;
	width:224px;
	height: 74px;
}
.adv_inputs input{
	height: 44px;
}
.adv_inputs_header{
	position: relative;
	width:100%;
	font-size: 14px;
	line-height: 20px;
	padding-top:10px;
	padding-left: 3px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	text-align: left;
}

.adv_inputs:nth-child(2n+1){
	margin-left:20px;
}


.adv_input_btn{
	position: relative;
	float: left;
	font-size: 14px;
	height: 44px;
	width: 224px;
	margin-left:20px;
	display: inline-block;
	margin-top:30px;
}

.adv_input_btn a{
	height: 44px;
	width:100%;
	border-radius: 4px;
}

#adv_search_toggle_btn{
	padding:9px 0px 9px 0px;
}

#adv_search_toggle_btn img{
	width:25px;
}

#adv_search_toggle_btn.opened img{
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

#adv_graph_toggle_btn{
	padding:9px 0px 9px 0px;
}

#adv_graph_toggle_btn img{
	width:25px;
}

#adv_graph_toggle_btn.opened img{
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

#result{
	position: relative;
	background-color: #eaeaea;
	width:1400px;
	min-height:100px;
	margin:0 auto;
	margin-top:10px;
}

.result_container{
	position:reltative;
	width:100%;
	box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.04);
	background-color: #FFFFFF;
}

#result4graph{
	position: relative;
	background-color: #eaeaea;
	width:1400px;
	height:800px;
	margin:0 auto;
	margin-top:0px;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.04);
	background-color: #FFFFFF;
}

#graph_container{
	position: absolute;
	width:1400px;
	height:800px;
	left: 0px;
	top: 0px;
}

.results_mutation{
	float:left;
	width:180px;
	height: 100%;
}

.results_gene{
	float:left;
	width:120px;
}

.results_drug{
	float:left;
	width:200px;
}

.results_diseases{
	float:left;
	width:270px;
}

.results_sentence{
	float:left;
	width:500px;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.results_pmid{
	float:left;
	width:130px;
}

.result_header{
	position: relative;
	width:100%;
	height: 50px;
}

.result_header div{
	position: relative;
	height:50px;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
	padding:16px;
	color:#757575;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	background-color: #FFFFFF;
}


.results{
	position: relative;
	width:100%;
	min-height: 72px;
	height: 100%;
	overflow: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: table;
}
.results div{
	text-align: left;
	min-height: 72px;
	height: 100%;
	font-size: 14px;
	line-height: 20px;
	padding:16px;
	float: none;
	display: table-cell;
}

.gene_span{
	color: rgb(204, 102, 255);
}
.drug_span{
	color: rgb(142, 214, 63);
}
.mut_span{
	color: rgb(255, 153, 221);
}
.disease_span{
	color: rgb(243, 184, 44);
}

#page_nums{
	position: relative;
	max-width:750px;
	height: 50px;
	margin:0 auto;
	text-align: center;
	margin-top:20px;
	display: inline-block;
}

.page{
	width:50px;
	height: 50px;
	font-size: 14px;
	line-height: 20px;
	padding:16px;
	background-color: #FFFFFF;
	border:1px solid rgba(0, 0, 0, 0.12);
	margin: 0 auto;
	float: left;
	cursor: pointer;
}

.page:hover{
	background-color: rgba(0, 0, 0, 0.01);
}

#page_nums .currentpage{
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.05);
}

.pageblank{
	width:50px;
	height: 50px;
	font-size: 14px;
	line-height: 20px;
	padding:16px;
	float: left;
}

.content_header{
	position: relative;
	padding-left:15px;
	text-align: left;
}




.cover{
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index:1000;
	display: none;
}
#cover_content{
	position: absolute;
	width:1400px;
	height: 490px;
	left:50%;
	top:50%;
	margin-left:-700px;
	margin-top:-245px;
	border-radius: 5px;
	overflow: hidden;
}
.loading_cover{
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	display: none;
}
.loading_cover > img{
	position: absolute;
	left:50%;
	top:50%;
	width:64px;
	height: 64px;
	margin-left: -32px;
	margin-top:-32px;
}
